@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.red {
  text-decoration: none;
  color: rgb(189, 22, 0);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  place-items: center;
}

input[type=text],
input[type=password],
input[type=checkbox],
input[type=file],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.cpnt {
  border-radius: 5px;
  background-color: #f2f2f2;
  color: black;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.cpnt1 {
  padding: 20px;
  text-align: center
}

.title {
  padding: 20px;
  margin: 30px;
  text-align: center
}

.list {
  padding: auto;
  text-align: center;
  padding: 20px;
}

.score {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #4CAF50;
  cursor: pointer;
  text-align: center;
}

.score:hover {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button {
  margin: 20px;
}